body {
    background-color: #ffffff;
}

.errorlist {
    color: red;
}

.buttonPositive {
    background-color: green;
    border: solid green 1px;
}

.buttonNegative {
    background-color: red;
    border: solid red 1px;
}

.test {
    border: solid black 3px;
}

.img_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
    height: 400px;
    align-content: space-between;
}

.round_photo {
    border-radius: 100px;
    border: 3px solid green;
    box-shadow: 0 0 7px #666;
}