{% extends "base.html" %}

{% block title %}Add new post{% endblock title %}

{% block content %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ post.as_p }}
{#        {{ tag.as_p }}#}
        {{ image.as_p }}
        {#        {% for field in form %}#}
        {#            <div class="form-group">#}
        {#                {{ field.label_tag }}#}
        {#                {{ field }}#}
        {#                <div class="invalid-feedback">#}
        {#                    {{ field.errors }}#}
        {#                </div>#}
        {#            </div>#}
        {#        {% endfor %}#}
        <br>
        <div class="form-group m-3">
            <label>Upload images</label>
            <input required name="images" type="file" multiple class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary m-3">Add post</button>
    </form>

{% endblock content %}