{% extends 'base.html' %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="card mx-5">
        {% for follower in followers %}
            <div class="card-header">
                {% if follower.profile.photo %}
                    <p><img src="{{ follower.profile.photo.url }}" alt="" width="30" class="round_photo">
                {% else %}
                    <img src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg"
                         alt="" width="30" class="round_photo">
                {% endif %}
                <a style="text-decoration:none; color:black"
                   href="{% url 'user_profile' follower.username %}">&nbsp;{{ follower.username }}</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}