{% extends 'base.html' %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% load static %}

{% block content %}
    {% for item in posts %}
        <div class="card mx-5">
            <div class="card-header">
                {% for prof in profiles %}
                    {% if item.author == prof.user %}
                        {% if prof.photo %}
                            <img src="{{ prof.photo.url }}" alt="" width="30" class="round_photo">
                        {% else %}
                            <img src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg"
                                 alt="" width="30" class="round_photo">
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <a style="text-decoration:none; color:black"
                   href="{% url 'user_profile' item.author %}">&nbsp;{{ item.author }}</a>
            </div>
            <div class="card-body">
                <div class="media">
                    {% if item.post.all.count > 1 %}
                        <img src="{{ item.post.first.image.url }}" alt="" style="width:90%" class="mr-3">
                        <img src="{{ item.post.last.image.url }}" alt="" width="50" class="mr-3">
                    {% else %}
                        <img src="{{ item.post.get.image.url }}" alt="" style="width:90%" class="mr-3">
                    {% endif %}
                    <div class="media-body">
                        <p class="card-text">
                        <div class="more">{{ item.content }}</div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <form action="{% url 'like_post' %}" method="POST" class="like_form" id="{{ item.id }}">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ item.id }}">
                    <div class="row justify-content-md-start">
                        <div class="col-md-auto">
{#                            <button class="btn like-btn{{ item.id }}" type="submit">#}
                                {% if user not in item.liked.all %}
                                    <button class="btn btn-danger like-btn{{ item.id }}" type="submit">
                                    Like
                                {% else %}
                                    <button class="btn btn-success like-btn{{ item.id }}" type="submit">
                                    Unlike
                                {% endif %}
                            </button>
                        </div>
                        <div class="col-md-auto">
                            <b>
                                <div class="like-count{{ item.id }}"> {{ item.num_of_likes }} </div>
                            </b>
                        </div>
                        <div class="col-md-auto">
                            <b>likes</b>
                        </div>
                    </div>
                </form>
                {% for tag in item.tags.all %}
                    <b>TAGS: </b><a href="{% url 'tag_posts' tag.slug %}">{{ tag.name }}</a>
                {% endfor %}
            <br>{{ item.updated_at|date:"Y-m-d H:i:s" }}
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}

{% block content2 %}
    <div class="card-mx-5">
        <b>Recommendations for you</b><br><br>
        {% for item in users %}
            {% if item != request.user %}
                {% if forloop.counter < 5 %}
                    {% if item.profile.photo %}
                        <p><img src="{{ item.profile.photo.url }}" alt="" width="30" class="round_photo">
                    {% else %}
                        <img src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg"
                             alt="" width="30" class="round_photo">
                    {% endif %}
                <a style="text-decoration:none; color:black"
                   href="{% url 'user_profile' item.username %}">&nbsp;{{ item.username }}</a>
                </p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
