{% extends "base.html" %}
{% block title %}Profile Page | {{ user.username }} {% endblock title %}

{% block content %}
    <div class="row my-3 p-3">
        <h1>This is the profile page for {{ user.username }}</h1>
    </div>

    <div>
        {% if profile.photo %}
            <img src="{{ profile.photo.url }}" alt="" width="150" class="round_photo">
        {% else %}
            <img src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg" alt=""
                 width="150" class="round_photo">
        {% endif %}
        <b>&nbsp;&nbsp;&nbsp;{{ posts.count }}</b> posts
        <b>&nbsp;&nbsp;&nbsp;Followers: </b>{{ number_of_followers }}
        {% if request.user == user %}
            <a href="{% url 'edit_profile' profile.user %}">
                <br>
                <button class="btn btn-primary m-3">Edit Profile</button>
            </a>
        {% endif %}
    </div>
    <br>
    {% if profile.full_name %}
        <h5 class="py-4">{{ profile.full_name }}</h5>
    {% endif %}
    {% if profile.e_mail %}
        <p class="py-1">{{ profile.e_mail }}</p>
    {% endif %}
    {% if profile.birthday %}
        <p class="py-1">{{ profile.birthday }}</p>
    {% endif %}
    {% if profile.gender %}
        <p class="py-1">{{ profile.gender }}</p>
    {% endif %}
    {% if profile.bio %}
        <p class="py-1">{{ profile.bio }}</p>
    {% endif %}

    <br>
    <div class="justify-content-center"><b>POSTS:</b></div>
    <div class="row-cols-1 justify-content-center">
        {% for item in posts %}
            {% if item.post.all.count > 1 %}
                <a href="../post/{{ item.pk }}">
                    <img src="{{ item.post.first.image.url }}" alt="" width="205" class="mr-3"
                         style="vertical-align:middle;margin:10px 10px"></a>
            {% else %}
                <a href="../post/{{ item.pk }}">
                    <img src="{{ item.post.get.image.url }}" alt="" width=205" class="mr-3"
                         style="vertical-align:middle;margin:10px 10px"></a>
            {% endif %}
        {% endfor %}
    </div>

{% endblock content %}
{% block content2 %}
    {% if user != request.user %}
        {% if is_following %}
            <form method="POST" action="{% url 'remove_follower' user.username %}">
                {% csrf_token %}
                <br><br>
                <button class="btn btn-outline-danger" type="submit">Unfollow</button>
            </form>
        {% else %}
            <form method="POST" action="{% url 'add_follower' user.username %}">
                {% csrf_token %}
                <br><br>
                <button class="btn btn-outline-success" type="submit">Follow</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}