{% extends 'base.html' %}

{% block title %}
    {{ block.super }}
{% endblock %}


{% block content %}
    <div class="card mx-5">
        <div class="card-header">
            {% for prof in profiles %}
                {% if post.author == prof.user %}
                    {% if prof.photo %}
                        <img src="{{ prof.photo.url }}" alt="" width="30" class="round_photo">
                    {% else %}
                        <img src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg"
                             alt="" width="30" class="round_photo">
                    {% endif %}
                {% endif %}
            {% endfor %}
            <a style="text-decoration:none; color:black"
               href="{% url 'user_profile' post.author %}">&nbsp;{{ post.author }}</a>
        </div>
        <div class="card-body">
            <div class="media">
                {% if length > 1 %}
                    <div class="slideshow-container">
                        {% for image in images %}
                            <div class="mySlides">
                                <img src="{{ image.image.url }}" alt="" width="500" class="mr-3">
                            </div>
                        {% endfor %}
                        <a class="prev" onclick="plusSlides(-1)" style="text-decoration:none">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)" style="text-decoration:none">&#10095;</a>
                    </div>
                    <div style="text-align:center">
                        {% for num in count %}
                            <span class="dot" onclick="currentSlide(num)"></span>
                        {% endfor %}
                    </div>
                {% else %}
                    <img src="{{ images.get.image.url }}" alt="" width="500" class="mr-3">
                {% endif %}
                <div class="media-body">
                    <p class="card-text">{{ post.content|safe|linebreaks }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ post.updated_at|date:"Y-m-d H:i:s" }}<br>
            <form action="{% url 'like_post' %}" method="post" class="ui form">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                {% if user not in post.liked.all %}
                    <button class="buttonPositive" type="submit">Like</button>
                {% else %}
                    <button class="buttonNegative" type="submit">Unlike</button>
                {% endif %}
                <b>{{ post.num_of_likes }} likes</b><br>
            </form>
            {% for tag in post.tags.all %}
                <a href="{% url 'tag_posts' tag.slug %}">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
